<nav class="navbar navbar-expand-lg navbar-light start-0 end-0">
  <div class="container">
    <div class="navbar-brand">Tasks</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/tasks" routerLinkActive="active">
            {{ "header.allTask" | translate }}

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            {{ "header.users" | translate }}
          </a>
        </li>
      </ul>
      <div class="nav-item ms-auto gap-2 d-flex">
        <a class="nav-link btn" routerLink="/login">
          {{ "header.logOut" | translate }}
        </a>
        <a class="nav-link btn" (click)="changeLang()">
          {{ lang == "en" ? "عربي" : "en" }}
        </a>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
