<div class="p-4 z-1">
    <header class="d-flex justify-content-between align-items-center" >
        <h1 class="m-0">{{"tasks.addNewTask" |translate}}</h1>
        <button mat-flat-button (click)="close()" class="text-danger">
          <mat-icon>close</mat-icon>
        </button>
      </header>
    <form [formGroup]="setForm">
        <div class="row mt-3">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"tasks.title" |translate}}</mat-label>
                        <input matInput formControlName="title"  placeholder="title">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"tasks.user" |translate}}</mat-label>
                        <mat-select formControlName="userId" >
                            <mat-option *ngFor="let user of users" [value]="user?.id">
                              {{user?.name}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                  <label for="img" class="btn btn-primary">{{"tasks.selectImage" |translate}} </label>
                  {{typeImg}}
                  <input type="file" hidden id="img" (change)="selectImage($event)">
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"tasks.deadLineDate" |translate}}</mat-label>

                        <input matInput [matDatepicker]="picker" formControlName="deadline" placeholder="deadline">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{"tasks.desc" |translate}}</mat-label>
                        <textarea matInput formControlName="description"  placeholder="task description ...."></textarea>
                    </mat-form-field>

                </div>
        </div>
    </form>

    <footer class="tw-p-6">
        <div class="d-flex justify-content-center align-items-center">
            <button *ngIf="!data" mat-flat-button color="primary" class=" py-1 px-5 mx-2" [disabled]="setForm.invalid" (click)="createTask()" >{{"tasks.create" |translate}}</button>
            <button *ngIf="data" mat-flat-button class=" py-1 px-5 mx-2" [disabled]="setForm.invalid" (click)="editTask()" >{{"tasks.update" |translate}}</button>

            <button  class="btn btn-danger py-1 px-5" (click)="close()">{{"tasks.close" |translate}}</button>
          </div>

      </footer>
</div>
